extends ../layout

block body
  .headwrap
    header
      include ../includes/nav

    .content
      section
        article
          h2 We support 
            strong you 
            | <3
          p If you're a customer, you're kind of a big deal to us.
          p We have put almost two years of very hard work, love, and thought into creating And Bang, and we feel so honored to have each of our customers. (In fact, there will be a special spot in our new office celebrating each one of you!)
          p We'll be right here for you when you need us. Just reach out to <a href="mailto:support@andbang.com">support@andbang.com</a> or <a href="http://twitter.com/andbang">ping us on Twitter</a>.
        aside
          nav
            a(href="") 
