script
    if (('WebSocket' in window) || ('MozWebSocket' in window)) location = '/';

div.genericpage
    article
        div
            .ribbon
                h1 &amp;!
                h4 We heart websockets.

            h3 Your browser doesn't (yet!)

            p <a href="http://google.com/chrome">Chrome</a>, <a href="http://mozilla.org/firefox">Firefox</a>, and <a href="http://apple.com/safari">Safari</a> support websockets right out of the box.